
<br>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<% @title = "My class" %>

<div class="container">
  <div class="row">
    <style media="screen">
      .card{display:flex; margin:5px;}
    </style>

		<div class="" style="width:100%;">
			<style media="screen">
				.course_list a {color:rgba(255,255,255,1);}
			</style>
      <% if @class %>
        <% @room = ClassRoom.all.where(id: @class.user_id) %>
        <% if @room %>
          myow
        <% else %>
          myaw
        <% end %>
      <% else %>
        medo
      <% end %>


		</div>

  </div>
</div>
