
<br>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<% @title = "Course" %>

<div class="container">
  <div class="row">
    <style media="screen">
      .card{display:flex; margin:5px;}
    </style>
    <!--
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    -->

		<div class="jumbotron col-sm-9 col-xs-12" style="width:100%;">
			<style media="screen">
				.course_list a{color:rgba(255,255,255,1);}
			</style>
			<h1>
				<ol class="course_list">
					<% c = Course.all.each do |cour| %>
						<li><a href="/course/<%= cour.id %>"><%= cour.course_name  %></a></li>
					<% end %>
				</ol>
			</h1>
		</div>
    <div class="jumbotron col-sm-3 col-xs-12" style="float:right; border-left:rgba(255,255,255,0.1) 1px solid;">
      <% if @user.is_a_teacher.to_i == 1 || @user.is_admin.to_i == 1   %>
        <a class="dropdown-item" href="/course/my-courses">My courses</a>
        <a class="dropdown-item" href="/course/new">new course</a>
      <% end %>
    </div>

  </div>
</div>

<!--<section id="about" style="background-color:rgba(255,255,255,1);">
	<div class="container">
		<div class="text-intro">
		<h2></h2>
			<br>
		</div>
	</div>
</section>-->
