
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<% @title = "New Course" %>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <br>
    </div>
    <div class="col-sm-8" style=" margin-top:-10%%;  background-color:rgba(255,255,255,0.00001);box-shadow:rgba(255,255,255,0.00001) 0px 0px 0px;" >
        <div class="" style="margin: 0 auto;">

           <form id="" action="/course/new" method="post">
             <div class="form-group">
               <label for="exampleInputEmail1">Category</label>
               <select type="text" name="category_id" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The course's name">
                 <option value="">Choose a cateory</option>
                 <% @category.each do |category| %>
                   <%= category %>
                 <% end %>
               </select>
               <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
             </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Name of the course</label>
                <input type="text" name="course_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The course's name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Description of the course</label>
                <textarea type="text" name="course_description" class="form-control" name="cours_description" id="summernote" aria-describedby="emailHelp" placeholder="The course's name" style="resize: vertical; min-height:50px;"></textarea>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>

              <button type="submit"  class="btn btn-sm btn-info pull-right" style="margin-right:10px;margin-top:;">
                Soumettre
              </button>

            </form>

          <script type="text/javascript">
            $(document).ready(function() {
              // submit form using $.ajax() method
              $('#addc').submit(function(e){
                e.preventDefault(); // Prevent Default Submission
                $.ajax({
                  url: '/ajouter/cours/',
                  type: 'POST',
                  data: $(this).serialize() // it will serialize the form data
                })
                  .done(function(data){
                  $('#addc').fadeOut('slow', function(){
                    $('#addc').fadeIn('slow').html(data);
                  });
                })
                  .fail(function(){
                  alert('Ajax Submit Failed ...');
                });
              });
            });
          </script>

        </div>
      </div>

      <div class="col-sm-2">
        <br>
      </div>

  </div>
</div>

<!--<section id="about" style="background-color:rgba(255,255,255,1);">
	<div class="container">
		<div class="text-intro">
		<h2></h2>
			<br>
		</div>
	</div>
</section>-->
