<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<style media="screen">

</style>
<% @title = @user.pseudo %>

<section class="col-sm-12 col-xs-12 bg-primary" style="margin-top:-4%; min-height:70px;">
  <div class="container">
    <div class="row">
      <h4 style="color:rgba(255,255,255,1); margin-top:10px; display:block; width:100%;">Welcome to LearnHt</h4>
    </div>
  </div>
</section>

<div class="banner" align="center" style="margin-top:-10%;">
	<div class="container">
		<div class="banner-text">
			<div class="banner-heading">
				Glad to see you <%= @user.pseudo  %> !
			</div>
			<div class="banner-sub-heading">
				Click here to go to your class
			</div>
			<a href="/my-class" type="button" class="btn btn-warning text-dark btn-banner">Go</a>
		</div>
	</div>
</div>
<script type="text/javascript">

$(document).on("scroll", function(){
  if
    ($(document).scrollTop() > 86){
    $("#banner").addClass("shrink");
  }
  else
  {
    $("#banner").removeClass("shrink");
  }
});
</script>
