<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<style media="screen">

</style>
<% @title = @user.pseudo %>

<div class="banner">
	<div class="container">
	<div class="banner-text">
	<div class="banner-heading">
	Glad to see you <%= @user.pseudo  %> !
	</div>
	<div class="banner-sub-heading">
	Click here to go to your class
	</div>
	<a href="/course" type="button" class="btn btn-warning text-dark btn-banner">Go</a>
	</div>
	</div>
</div>
<section id="about" style="background-color:rgba(255,255,255,1);">
	<div class="container">
		<div class="text-intro">
		<h2></h2>
			<br>
		</div>
	</div>
</section>





<script type="text/javascript">

$(document).on("scroll", function(){
  if
    ($(document).scrollTop() > 86){
    $("#banner").addClass("shrink");
  }
  else
  {
    $("#banner").removeClass("shrink");
  }
});
</script>
