<style media="screen">
html,body{
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}
</style>
<% @title = "Sign Up" %>
<div class="container"><br><br>
	<div class="d-flex justify-content-center">
		<p style="color:rgba(255,255,255,1);">Please, filout this form to create your account</p>
	</div>
</div>
<br>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<% if flash[:error] %>
					<div id="success" style="color:rgba(255,255,255,1);">
					<%= flash[:error] %>
					</div>
					<br>
				<% end %>

				<form method="post" action="/signup">

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="last_name" class="form-control" placeholder="Last name">
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="first_name" class="form-control" placeholder="First name">
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						<input type="text" name="email" class="form-control" placeholder="email">
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="pseudo" class="form-control" placeholder="Pseudo">
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password">
						<input type="hidden" value="1" name="is_a_teacher">
						<input type="hidden" value="1" name="is_admin">
					</div>

					<div class="form-group">
						<input type="submit" value="Singup" class="btn float-right login_btn btn-info">
					</div>
				</form>
			</div>

			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Have an account?<a href="/">Sign in</a>
				</div>
			</div>
		</div>
	</div>
</div>
